
@font-face {
  font-family: semibold;
  src: url(../src/assets/font/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: regular;
  src: url(../src/assets/font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: font-bold;
  src: url(../src/assets/font/Montserrat-Bold.ttf);
}
